<nb-card>
    <nb-card-body class="example-items-col">
        <div class="add-menu">
            <input
                type="text"
                nbInput
                placeholder="name menu"
                [(ngModel)]="nameAdd"
                name="nameAdd"
            />
            <input
                type="text"
                nbInput
                placeholder="url menu"
                [(ngModel)]="UrlAdd"
                name="nameAdd"
                style="margin-left: 1em"
            />
            <button
                class="btn-add-menu"
                nbButton
                status="success"
                (click)="clickAddName(nameAdd, UrlAdd)"
                [disabled]="!nameAdd || !UrlAdd"
            >
                Add Menu
            </button>
        </div>

        <div
            cdkDropList
            class="example-list"
            (cdkDropListDropped)="drop($event)"
        >
            <div
                class="example-box"
                *ngFor="let movie of movies; let i = index"
                cdkDrag
            >
                <div class="menu-item-bar">
                    <div class="menu-item-handle ui-sortable-handle">
                        <span>{{ movie.name }}</span>
                        <button
                            color="primary"
                            class="upload-btn"
                            (click)="openEditMenu(i)"
                        >
                            <nb-icon icon="more-vertical-outline"></nb-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <button
            class="saveListMenu"
            nbButton
            status="success"
            (click)="saveListMenu()"
        >
            Save
        </button>
    </nb-card-body>
</nb-card>

<ng-template #dialogEditMenu let-data let-ref="dialogRef">
    <nb-card class="dialog">
        <nb-card-header>Edit Menu</nb-card-header>
        <nb-card-body class="example-items-col">
            <input
                type="text"
                nbInput
                placeholder="name menu"
                fullWidth
                [(ngModel)]="nameEdit"
                class="name-edit"
            />
            <input
                type="text"
                nbInput
                placeholder="url menu"
                fullWidth
                [(ngModel)]="urlNameEdit"
                class="url-edit"
            />
        </nb-card-body>
        <nb-card-footer class="row flex" style="justify-content: flex-end">
            <button
                nbButton
                status="success"
                (click)="saveMenu(data.indexMenu, ref)"
                class="btn-save"
            >
                Save
            </button>
            <button
                nbButton
                status="danger"
                (click)="deleteMenu(data.indexMenu, ref)"
                class="btn-delete"
            >
                Delete
            </button>
            <button
                class="ml-auto"
                nbButton
                hero
                status="danger"
                (click)="
                    data.closeFunc ? data.closeFunc(ref.close()) : ref.close()
                "
                class="btn-close"
            >
                Close
            </button>
        </nb-card-footer>
    </nb-card>
</ng-template>
