<nb-card>
    <nb-card-body class="example-items-col">
        <div class="form-group">
            <label for="label" class="label col-form-label">Name website</label>
            <div class="form-input">
                <input
                    type="text"
                    nbInput
                    placeholder="name website"
                    fullWidth
                    [(ngModel)]="nameWebsite"
                />
            </div>
        </div>

        <div class="form-group">
            <label for="label" class="label col-form-label"
                >Title website</label
            >
            <div class="form-input">
                <input
                    type="text"
                    nbInput
                    placeholder="title website"
                    fullWidth
                    [(ngModel)]="titleWebsite"
                />
            </div>
        </div>

        <div class="form-group">
            <label for="label" class="label col-form-label"
                >Description website</label
            >
            <div class="form-input">
                <input
                    type="text"
                    nbInput
                    placeholder="description website"
                    fullWidth
                    [(ngModel)]="desWebsite"
                />
            </div>
        </div>

        <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileUpload
            fullWidth
            accept="image/png, image/jpeg"
        />

        <div class="file-upload">
            {{ fileName || "No file uploaded yet." }}

            <button
                color="primary"
                class="upload-btn"
                (click)="fileUpload.click()"
            >
                <nb-icon icon="upload-outline"></nb-icon>
            </button>

            <div *ngIf="fileUoload">
                <img
                    id="blah"
                    [src]="fileUoload || 'http://placehold.it/180'"
                    alt="icon logo"
                    width="180"
                    height="180"
                />
            </div>
        </div>

        <div class="form-group">
            <label for="label" class="label col-form-label"
                >Domain website</label
            >
            <div class="form-input">
                <input
                    type="Domain"
                    nbInput
                    placeholder="domain website"
                    fullWidth
                    disabled
                />
            </div>
        </div>

        <div class="form-group">
            <label for="label" class="label col-form-label"
                >Font website</label
            >
            <div class="form-input">
                <input
                    #autoInput
                    nbInput
                    type="text"
                    (input)="onChange()"
                    placeholder="font website"
                    [nbAutocomplete]="auto"
                    fullWidth
                />
                <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
                    <nb-option
                        *ngFor="let option of filteredOptions$ | async"
                        [value]="option"
                    >
                        {{ option }}
                    </nb-option>
                </nb-autocomplete>
            </div>
        </div>





        <div>
            <button nbButton (click)="open()">Meta</button>

            <button
                class="saveHome"
                nbButton
                status="success"
                (click)="saveHome()"
            >
                Save
            </button>
        </div>
    </nb-card-body>
</nb-card>
